.l-wrapper {
    min-height: 100vh;
    display: flex;
    overflow-x: hidden;
    transition: margin-left .25s linear;

    @media (max-width: 767px) {
        &.folders-visible {
            margin-left: 0;
            transition: margin-left .25s linear;
        }

        &.notes-list-visible {
            margin-left: -100vw;
            transition: margin-left .25s linear;
        }

        &.note-detail-visible {
            margin-left: -200vw;
            transition: margin-left .25s linear;
        }
    }
}

.l-folders {
    width: 100vw;
    max-height: 100vh;
    overflow: auto;
    background: url('/static/images/debut_dark.png');  // TODO: retina screens @2X
    background-repeat: repeat;
    flex-shrink: 0;

    @media (min-width: 768px) {
        width: 200px;
    }
}
.l-notes {
    width: 100vw;
    max-height: 100vh;
    overflow: auto;
    background: url('/static/images/creampaper.png');    // TODO: retina screens @2X
    flex-shrink: 0;

    @media (min-width: 768px) {
        width: 350px;
    }
}
.l-note-detail {
    width: 100vw;
    max-height: 100vh;
    overflow: auto;
    background: url('/static/images/creampaper.png');    // TODO: retina screens @2X
    flex-shrink: 0;

    @media (min-width: 768px) {
        flex-shrink: 1;
    }
}
