.m-banner-notification {
    padding: 0.1px 15px;
    color: $banner-notification-txt-color;
    font-size: 1.2em;
    font-weight: bold;

    background: $banner-notification-gradient-color-light;
    background: -moz-linear-gradient(top, $banner-notification-gradient-color-light 0%, $banner-notification-gradient-color-dark 100%);
    background: -webkit-linear-gradient(top, $banner-notification-gradient-color-light 0%,$banner-notification-gradient-color-dark 100%);
    background: linear-gradient(to bottom, $banner-notification-gradient-color-light 0%,$banner-notification-gradient-color-dark 100%);

    width: 100vw;
    max-height: 0px;
    overflow: hidden;
    transition: max-height .6s linear;
    position: relative;
    z-index: $z-index-banner-notification;
    
    &.is-visible {
        max-height: 999px;
        transition: max-height .6s linear;
    }

    &__message {
        margin: 15px 0 8px 0;
    }

    &__btn-wrapper {
        margin: 0 0 15px 0;
    }
    
    .m-btn {
        font-size: 1rem;
        box-shadow: 0px 2px 3px $banner-notification-btn-shadow-color;
    }
}