// Folders list
//
// List of folders and tags
//
// Markup:
// <div class="l-folders">
//   <ul class="m-folders-list {{modifier_class}}">
//     <li class="m-folders-list__item">Folder 1</li>
//     <li class="m-folders-list__item is-active">Folder 2</li>
//     <li class="m-folders-list__item">Folder 3</li>
//     <li class="m-folders-list__item">Folder 4</li>
//   </ul>
// </div>
//
// .m-folders-list--tags - Variant for displaying tags
//
// Styleguide Modules.folders-list
//
.m-folders-list {
    $class-name: m-folders-list;
    margin: 0 0 1.2em 0;
    padding: 0;
    color: $folders-list-txt-color;
    list-style: none;

    &__item {
        padding: 12px 25px;
        text-indent: 4px;
        box-shadow: 0 1px 1px -1px black, inset 0 -1px 1px -1px rgba(255, 255, 255, 0.65);
        cursor: pointer;

        &:last-child {
            box-shadow: none;
        }

        &:hover {
            background-color: transparentize($color: $folders-list-item-active-bg, $amount: 0.5);
            text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
        }

        &:active,
        &.is-active {
            background-color: $folders-list-item-active-bg;
            text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
        }
    }

    &--tags {
        .#{$class-name}__item::before {
            content: '#';
            padding-right: 5px;
        }
    }
}
