.m-note {
    $class-name: m-note;
    padding: 12px 25px;
    cursor: pointer;

    &__title {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 1em;
        letter-spacing: -0.004em;
        line-height: 1.2;
    }

    &__updated {
        margin-top: 0.7em;
        margin-bottom: 0;
        font-size: 0.87em;
        letter-spacing: 0.001em;
        color: $note-updated-txt-color;
    }

    &:hover {
        background-color: transparentize($color: $note-active-bg-color, $amount: 0.75);
    }

    &.is-active {
        color: $note-active-txt-color;
        background-color: $note-active-bg-color;

        .#{$class-name}__title {
            font-weight: bold;
        }

        .#{$class-name}__updated {
            color: $note-active-updated-txt-color;
        }
    }
}