/* all color variables go here */
$folders-list-txt-color: white;
$folders-list-item-active-bg: rgb(52, 152, 219);

$note-border-color: lightgray;
$note-updated-txt-color: gray;
$note-active-txt-color: white;
$note-active-bg-color: rgb(75, 135, 176);
$note-active-updated-txt-color: rgba(255, 255, 255, 0.65);

/* links */
$link-txt-color: rgb(57, 145, 217);
$link-visited-txt-color: rgb(91, 70, 139);
