/* all color variables go here */
$folders-list-txt-color: white;
$folders-list-item-active-bg: rgb(52, 152, 219);

$note-border-color: lightgray;
$note-updated-txt-color: gray;
$note-active-txt-color: white;
$note-active-bg-color: rgb(75, 135, 176);
$note-active-updated-txt-color: rgba(255, 255, 255, 0.65);

/* links */
$link-txt-color: rgb(57, 145, 217);
$link-visited-txt-color: rgb(91, 70, 139);

/* banner notification */
$banner-notification-gradient-color-light: #ffc578;
$banner-notification-gradient-color-dark: #fb9d23;
$banner-notification-txt-color: #333333;
$banner-notification-btn-shadow-color: #c7842d;

/* push prompt */
$push-prompt-bg-color: #f4f4f4;

/* search bar */
$search-bar-border-color: #e2e2e2;
$search-bar-bg-color: #f9f9f9;
$search-bar-focused-border-color: #d2d2d2;
$search-bar-focused-bg-color: #fff;
