@import url(/static/fonts/inter-ui/inter-ui.css);
html, body, h1, h2, h3, h4, h5, h6, p {
  font-family: 'Inter UI', sans-serif;
  -webkit-font-kerning: normal;
          font-kerning: normal; }

/* SMACSS themes (colors) */
/* all color variables go here */
/* SMACSS base and layout */
* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0; }

h1 {
  font-size: 1.515em;
  letter-spacing: -0.013em; }

h2 {
  font-size: 1.319em;
  letter-spacing: -0.011em; }

h3 {
  font-size: 1.148em;
  letter-spacing: -0.008em; }

h4 {
  font-size: 1em;
  letter-spacing: -0.004em; }

h5 {
  font-size: 0.87em;
  letter-spacing: 0.001em; }

h6 {
  font-size: 0.757em;
  letter-spacing: 0.008em; }

p {
  font-size: 0.87em;
  letter-spacing: 0.008em;
  line-height: 1.4; }

.l-wrapper {
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden; }

.l-folders {
  width: 100vw;
  background: url("/static/images/debut_dark.png");
  background-repeat: repeat;
  -ms-flex-negative: 0;
      flex-shrink: 0; }
  @media (min-width: 768px) {
    .l-folders {
      width: 200px; } }

.l-notes {
  width: 100vw;
  background: url("/static/images/creampaper.png");
  -ms-flex-negative: 0;
      flex-shrink: 0; }
  @media (min-width: 768px) {
    .l-notes {
      width: 350px; } }

.l-note-detail {
  width: 100vw;
  background: url("/static/images/creampaper.png");
  -ms-flex-negative: 0;
      flex-shrink: 0; }
  @media (min-width: 768px) {
    .l-note-detail {
      -ms-flex-negative: 1;
          flex-shrink: 1; } }

/* SMACSS modules */
.m-folders__title {
  padding: 0 25px;
  color: white; }

.m-folders-list {
  margin: 0 0 1.2em 0;
  padding: 0;
  color: white;
  list-style: none; }
  .m-folders-list__item {
    box-shadow: 0 1px 1px -1px black, inset 0 -1px 1px -1px rgba(255, 255, 255, 0.65);
    cursor: pointer; }
    .m-folders-list__item:last-child {
      box-shadow: none; }
    .m-folders-list__item:hover {
      background-color: rgba(52, 152, 219, 0.5);
      text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5); }
    .m-folders-list__item:active, .m-folders-list__item.is-active {
      background-color: #3498db;
      text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5); }
  .m-folders-list__link {
    padding: 12px 25px;
    text-indent: 4px;
    color: inherit;
    text-decoration: none;
    display: block; }
  .m-folders-list--tags .m-folders-list__link::before {
    content: '#';
    padding-right: 5px; }

.m-notes {
  border-right: 1px solid lightgray;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
      flex-flow: column;
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.2); }
  .m-notes__title {
    padding: 0 25px; }

.m-notes-list {
  margin: 0;
  padding: 0;
  list-style: none;
  -ms-flex-positive: 1;
      flex-grow: 1;
  overflow-y: auto; }
  .m-notes-list__item {
    border-bottom: 1px solid lightgray; }
    .m-notes-list__item:first-child {
      border-top: 1px solid lightgray; }

.m-note {
  padding: 12px 25px;
  cursor: pointer; }
  .m-note__title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1em;
    letter-spacing: -0.004em;
    line-height: 1.2; }
  .m-note__updated {
    margin-top: 0.7em;
    margin-bottom: 0;
    font-size: 0.87em;
    letter-spacing: 0.001em;
    color: gray; }
  .m-note:hover {
    background-color: rgba(75, 135, 176, 0.25); }
  .m-note.is-active {
    color: white;
    background-color: #4b87b0; }
    .m-note.is-active .m-note__title {
      font-weight: bold; }
    .m-note.is-active .m-note__updated {
      color: rgba(255, 255, 255, 0.65); }

.m-note-detail {
  padding: 12px 25px; }
  .m-note-detail code {
    border-radius: 4px; }

.u-color-white {
  color: white; }

.u-title {
  font-size: 2em;
  letter-spacing: -0.015em; }

.u-padding-rl-25 {
  padding-right: 25px;
  padding-left: 25px; }
