{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Notes</title>
</head>
<body>
    <div class="l-wrapper" id="notes-app">
        <div class="l-folders m-folders">
            <h2 class="m-folders__title">Folders</h2>
            <ul class="m-folders-list" v-if="notEmptyFoldersList">
                <folders-item
                    v-for="folder in foldersList"
                    v-bind:folder="folder"
                    v-bind:selected-folder="selectedFolder"
                    v-bind:key="folder.id"
                    v-on:folder-change="folderChangeHandler">
                </folders-item>
            </ul>
            <ul class="m-folders-list" v-else>
                <li class="m-folders-list__item is-disabled">
                    <span class="m-folders-list__link">No folders</span>
                </li>
            </ul>

            <h2 class="m-folders__title">Tags</h2>
            <ul class="m-folders-list m-folders-list--tags" v-if="notEmptyTagsList">
                <tags-item
                    v-for="tag in tagsList"
                    v-bind:tag="tag"
                    v-bind:key="tag.id">
                </tags-item>
            </ul>
            <ul class="m-folders-list m-folders-list--tags" v-else>
                <li class="m-folders-list__item is-disabled">
                    <span class="m-folders-list__link">No tags</span>
                </li>
            </ul>
        </div>
        <div class="l-notes m-notes">
            {% verbatim %}
            <h2 class="m-notes__title" v-if="selectedFolder">{{ selectedFolder }}</h2>
            {% endverbatim %}
            <ul class="m-notes-list">
                <notes-item
                    v-for="note in notesList"
                    v-bind:note="note"
                    v-bind:selected-note="selectedNote"
                    v-bind:key="note.id"
                    v-on:note-change="noteChangeHandler">
                </notes-item>
            </ul>
        </div>
        <div class="l-note-detail">
            <note-detail v-bind:note="noteDetail"></note-detail>
        </div>
    </div>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script src="{% static 'lib/vue.min.js' %}"></script>
    <script src="{% static 'lib/vue-resource.min.js' %}"></script>
    <script src="{% static 'js/app.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/styles/solarized_dark.css' %}">
    <script src="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js' %}"></script>
    <script>
        hljs.initHighlightingOnLoad();
    </script>
</body>
</html>